@model CPAT.Models.Students

@{
    ViewData["Title"] = "Details";
}

<h1>Plan Details</h1>

<div class="p-4 border rounded">

    <div class="form-group row">
        <div class="col-12">
            <div class="row">
                <div class="col-2 text-right">
                    <label asp-for="N_Number"></label>
                </div>
                <div class="col-4">
                    <input readonly asp-for="N_Number" />
                </div>
            </div>

            <div class="row">
                <div class="col-2 text-right">
                    <label asp-for="FirstName"></label>
                </div>
                <div class="col-4">
                    <input readonly asp-for="FirstName" />
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-right">
                    <label asp-for="MI"></label>
                </div>
                <div class="col-2">
                    <input readonly asp-for="MI" />
                </div>
            </div>


            <div class="row">
                <div class="col-2 text-right">
                    <label asp-for="LastName"></label>
                </div>
                <div class="col-4">
                    <input readonly asp-for="LastName" />
                </div>
            </div>

            <div class="row">
                <div class="col-2 text-right">
                    <label asp-for="Majors">Major</label>
                </div>
                <div class="col-4">
                    <text readonly >@if (Model.MajorId == 1) { Write("Computer Science"); }</text>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="h3">Student Plan</h2>
    </div>
</div>


<div class="p-sm-4 border rounded">
    <div class="row border-info">
        <div class="col-lg-4">
            <h4>@CPAT.Models.Season.Fall</h4>
        </div>
        <div class="col-lg-4">
            <h4>2019</h4>
        </div>
    </div>
    <br />
    <div class="row table-info">
        <div class="col-3">Course ID</div>
        <div class="col-6">Course Name</div>
        <div class="col-3">Credit Hours</div>
    </div>
    <p>
        <div class="row">
            <div class="col-3"><a href="https://www.unf.edu/catalog/link/UGMAC2311A/" target="_blank" class="btn btn-primary">MAC2311</a></div>
            <div class="col-6">(GM) Calculus I</div>
            <div class="col-3">4</div>
        </div>
    </p>
    <p>
        <div class="row">
            <div class="col-3"><a href="https://www.unf.edu/catalog/link/UGCOP2220C/" target="_blank" class="btn btn-primary">COP2220</a></div>
            <div class="col-6">Computer Science I</div>
            <div class="col-3">3</div>
        </div>
    </p>
    <p>
        <div class="row">
            <div class="col-3"><a href="https://www.unf.edu/catalog/link/UGIDC2000C/" target="_blank" class="btn btn-primary">IDC2000</a></div>
            <div class="col-6"> The Beauty and Joy of Computing</div>
            <div class="col-3">3</div>
        </div>
    </p>
    <p>
        <div class="row">
            <div class="col-3"><a href="https://www.unf.edu/catalog/link/UGPHY2048A/" target="_blank" class="btn btn-primary">PHY2048</a></div>
            <div class="col-6">Calculus-based Physics I</div>
            <div class="col-3">4</div>
        </div>
    </p>
    <p>
        <div class="row">
            <div class="col-3"><a href="https://www.unf.edu/catalog/link/UGPHY2048LA/" target="_blank" class="btn btn-primary">PHY2048L</a></div>
            <div class="col-6">Calculus-based Physics I Lab</div>
            <div class="col-3">1</div>
        </div>
    </p>
</div>
@*
    @foreach (var t in Model.Plan.Terms)
    {
    <div class="row">
        <div class="col-lg-4">
            @t.Terms.Season
        </div>
        <div class="col-lg-4">
            @t.Terms.Year
        </div>
    </div>
        @foreach (CourseTerm c in t.Terms.CourseTerms)
        {
            <div class="row">
                <div class="col-3">
                    @c.Courses.CourseID
                </div>
                <div class="col-7">
                    @c.Courses.CourseName
                </div>
                <div class="col-2">
                    @c.Courses.CreditHours
                </div>
            </div>
        }
    }
*@